body {
    font-family: Arial, sans-serif;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.passed {
    color: green;
}

.failed {
    color: red;
}
h1 {
    text-align: center;
}
footer {
    text-align: center;
    bottom:0;
}